@import './variables.scss';


//todo__v-catalog-item__

.v-catalog-item {
	flex-basis: 25%;
	box-shadow: 0 0 8px 0 #e0e0e0;
	padding: $padding * 2;
	margin-bottom: $margin * 4;
	height: 400px;
	border-radius: $radius * 5;
}

//todo---------------------------------



.btn {
	border-radius: $radius;
}